/* src/components/CustomNavbar.css */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #001f3f,
    #000000
  ); /* Diagonal gradient background */
  border-right: 2px solid #002b56; /* Slightly darker border */
  z-index: 1000; /* Ensure it stays on top */
}

.custom-navbar .navbar-brand img {
  margin-bottom: 1rem;
}

.custom-navbar .profile-info {
  text-align: center;
  color: rgb(255, 255, 255, 0.4);
}

.custom-navbar .profile-name {
  font-size: 1.2em;
  font-weight: bold;
}

.custom-navbar .profile-title {
  font-size: 0.9em;
}

.custom-navbar .d-flex {
  width: 100%; /* Ensure the flex container spans the full width */
}

.custom-navbar .navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
